# Copia este archivo a .env.docker y ajusta los valores
DJANGO_SECRET_KEY=cambia-esta-clave-secreta-en-produccion
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Correos (SendGrid)
EMAIL_HOST_USER=mundonica
EMAIL_HOST_PASSWORD=tu_api_key_de_sendgrid
