#ignorar las configuraciones sencibles
settings.py

#ignorar la base de datos
db.sqlite3

#ignorar avariables del entorno
.env
#ignorar archivos generados automaticamente
__pycache__/
*.pyc
*.pyo


#ignorar archivos estatios y multimedia genrados
/staticfiles/