{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Soy de nicaragua</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'empresas/yummy-red/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'empresas/yummy-red/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'empresas/yummy-red/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'empresas/yummy-red/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'empresas/yummy-red/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'empresas/yummy-red/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'empresas/yummy-red/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'empresas/yummy-red/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <div id="mensaje">Esta web fue creada y subencionada por Mundo Nica</div>

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'empresas/yummy-red/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">{{ datos.nombre_de_la_empresa|default:"Yummy-restaurante" }}</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Inicio<br></a></li>
          <li><a href="#about">Sobre</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Eventos</a></li>
          <li><a href="#chefs">Chefs</a></li>
          {% if datos.propietario_sitio_web ==  user %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home_app:actualizar_empresa' datos.id %}">Editar Web</a>
            </li>
          {% endif%}
          <li><a href="#gallery">Galería</a></li>
          <li class="dropdown"><a href="#"><span>Mundo Nica</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <!--<ul>
              <li><a href="#">Asistencia Ténica</a></li>
              <li class="dropdown"><a href="#"><span>Asistencia Ténica</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Configuración técnica</a></li>
                  <li><a href="#">Diseño y personalización</a></li>
                  <li><a href="#">Resolución de problemas</a></li>
                  <li><a href="#">Asesoramiento y planificación inicial</a></li>
                  <li><a href="#">Formación en administración del sitio</a></li>
                </ul>
              </li>-->
              <li><a href="#" style="background-color:lightpink;">Donar</a></li>
              <!--<li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>-->
          </li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted" href="#book-a-table">Reservar</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">{{ datos.titulo_header|default:"Enjoy Your Healthy<br>Delicious Food' }}</h1>
            <p data-aos="fade-up" data-aos-delay="100">{{ datos.subtitulo1_header|default:"We are team of talented designers making websites with Bootstrap' }}</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="#book-a-table" class="btn-get-started">Encuentra tu mesa</a>
              <a href="{{ datos.subtitulo1_header|default:'{{ datos.video_header }}' }}" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Ver Vídeo</span></a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            {% if datos.imagen_header %}
            <img src="{{ datos.imagen_header.url }}" class="img-fluid animated" alt="">
            {% else %}
            <img src=" {% static 'empresas/yummy-red/assets/img/img-portada/hero-img.png' %}" class="img-fluid animated" alt="">
            {% endif %}
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->


    {% if datos.quienes_somos_activo %}
    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Sobre Nosotros<br></h2>
        <p><span>Conóce más</span> <span class="description-title">Sobre Nosotros</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            {% if datos.imagen1_nosotros %}
            <img src="{{ datos.imagen1_nosotros }}" class="img-fluid mb-4" alt="">
            {% else %}
            <img src="{% static 'empresas/yummy-red/assets/img/about.jpg'%}" class="img-fluid mb-4" alt="">
            {% endif %}
            <div class="book-a-table">
              <h3>Reserva tu mesa</h3>
              <p>{{ datos.telefono }}</p>
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                {{ datos.parrafo1_sobrenosotros|default:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ' }}
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>{{ datos.parrafo2_sobrenosotros|default:"Ullamco laboris nisi ut aliquip ex ea commodo consequat.' }}.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>{{ datos.parrafo3_sobrenosotros|default:"Duis aute irure dolor in reprehenderit in voluptate velit.' }}.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>{{ datos.parrafo4_sobrenosotros|default:"Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.' }}.</span></li>
              </ul>
              <p>
                {{ datos.parrafo5_sobrenosotros|default:"Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident ' }}.
              </p>

              <div class="position-relative mt-4">
                {% if datos.imagen2_nosotros_fondo %}
                <img src="{{ datos.imagen2_nosotros_fondo }}" class="img-fluid" alt="">
                {% else %}
                <img src="{% static 'empresas/yummy-red/assets/img/about-2.jpg' %}" class="img-fluid" alt="">
                {% endif %}

                {% if datos.video_nosotros %}
                <a href="{{ datos.video_nosotros }}" class="glightbox pulsating-play-btn"></a>
                {% else %}
                <a href="https://youtu.be/Mhj15W23IjA?list=RDPUZqMw4rkVs&t=12" class="glightbox pulsating-play-btn"></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
<!--
    </section> /About Section
    {% endif %}

    {% if datos.menu_regalo_activo %}
    Why Us Section 
    <section id="why-us" class="why-us section light-background">

      <div class="container">

        <div class="container section-title" data-aos="fade-up">
          <h2>Encuentra tu mejor opción<br></h2>
          <p><span>Menu</span> <span class="description-title">Para Regalo</span></p>
        </div> End Section Title
        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>¿Menú de regalo?</h3>
              <p>
                Un menú especial diseñado para sorprender a alguien con una experiencia gastronómica única. Ofrece una selección de platos cuidadosamente elaborados, que incluyen entradas, platos principales, bebidas y postres, adaptados a diferentes gustos y ocasiones. Perfecto para regalar en cumpleaños, aniversarios o simplemente como un detalle especial para disfrutar de una comida memorable.
              </p>
            </div>
          </div><End Why Box 
        
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4">
               Menú para una persona 
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-person"></i>
                  <h4>Menú de regalo <br> para una persona</h4>
                  <p>Entrada, Plato principal, Bebida, Postre</p>
                  <button class="btn btn-danger text-white" 
                      data-bs-toggle="modal" 
                      data-bs-target="#modalDetalles">
                      Detalles
                  </button>
                </div>
              </div>
            -->
              <!-- Menú para dos personas
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-people"></i>
                  <h4>Menú de regalo <br> para dos personas</h4>
                  <p>Entrada, Plato principal, Bebida, Postre</p>
                  <button class="btn btn-danger text-white" 
                      data-bs-toggle="modal" 
                      data-bs-target="#modalDetalles">
                      Detalles
                  </button>
                </div>
              </div> -->
            
              <!-- Menú para más de dos personas 
              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-person-plus"></i>
                  <h4>Menú de regalo <br> para más de dos personas</h4>
                  <p>Entrada, Plato principal, Bebida, Postre</p>
                    <Botón básico de Bootstrap para abrir el modal
                  <button class="btn btn-danger text-white" 
                      data-bs-toggle="modal" 
                      data-bs-target="#modalDetalles">
                      Detalles
                  </button>
                </div>
              </div>
            </div>
            
            Modal de Bootstrap 1 
            <div class="modal fade" id="modalDetalles" tabindex="-1" aria-labelledby="modalDetallesLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="modalDetallesLabel"><b>Detalles del Menú</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4 id="modalTitulo" class="text-danger"><b>Menú para una persona</b></h4>
                    <p id="modalContenido">{{ datos.menu_oferta1|safe }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-danger text-white" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-outline-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
-->
            <!-- Modal de Bootstrap 2
            <div class="modal fade" id="modalDetalles2" tabindex="-1" aria-labelledby="modalDetallesLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-danger">
                    <h5 class="modal-title text-white" id="modalDetallesLabel"><b>Detalles del Menú</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4 id="modalTitulo" class="text-danger"><b>Menú para dos persona</b></h4>
                    <p id="modalContenido">{{ datos.menu_oferta2|safe  }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-danger text-white" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-outline-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>

           Modal de Bootstrap 3 
            <div class="modal fade" id="modalDetalles3" tabindex="-1" aria-labelledby="modalDetallesLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="modalDetallesLabel"><b>Detalles del Menú</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4 id="modalTitulo" class="text-danger"><b>Menú para más de dos personas</b></h4>
                    <p id="modalContenido">{{ datos.menu_oferta1|safe  }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-danger text-white" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-outline-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
    </section> Why Us Section 
    {% endif %}

    {% if datos.clientes_activo %}
-->
    <!-- Stats Section -->
    <section id="stats" class="stats section dark-background">

      <img src="{% static 'empresas/yummy-red/assets/img/stats-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <!--<div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>-->
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <!--<div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>-->
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
           <!-- <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>-->
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <!--<div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Workers</p>
            </div>-->
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->
    {% endif %}

    {% if datos.platos_menu_activo %}

    <!-- Menu Section -->
    <section id="menu" class="menu section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nuestro Menu</h2>
        <p><span>Echa un vistazo a </span> <span class="description-title">Nuestro Menú</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Descubre</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Saborea</h4>
            </a><!-- End tab nav item -->

          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Disfruta</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Sonríe</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Platos Principales</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                {% if datos.imagen1_plato_menu %}
                <a href="{{ datos.imagen1_plato_menu }}" class="glightbox"><img src="{{ datos.imagen1_plato_menu }}" class="menu-img img-fluid" alt=""></a>
                {% else %}
                <a href="{% static 'empresas/yummy-red/assets/img/menu/menu-item-1.png' %}" class="glightbox"><img src="{% static 'empresas/yummy-red/assets/img/menu/menu-item-1.png' %}"" class="menu-img img-fluid" alt=""></a>
                {% endif %}

                <h4>{{ datos.nombre1_plato_menu|default:"Magnam Tiste" }}</h4>
                <p class="ingredients">
                  {{ datos.descriptcion1_plato_menu|default:"Lorem, deren, trataro, filede, nerada" }}
                </p>
                <p class="price">
                  C${{ datos.precio1_plato_menu|default:"5.95" }}
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                {% if datos.imagen2_plato_menu%}
                <a href="{{ datos.imagen2_plato_menu }}"" class="glightbox"><img src="{{ datos.imagen2_plato_menu }}"" class="menu-img img-fluid" alt=""></a>
                {% else %}
                <a href="{% static 'empresas/yummy-red/assets/img/menu/menu-item-2.png' %}" class="glightbox"><img src="{% static 'empresas/yummy-red/assets/img/menu/menu-item-2.png' %}" class="menu-img img-fluid" alt=""></a>
                {% endif %}
                <h4>{{ datos.nombre2_plato_menu|default:"Aut Luia' }}</h4>
                <p class="ingredients">
                  {{ datos.descriptcion2_plato_menu|default:"Lorem, deren, trataro, filede, nerada" }}
                </p>
                <p class="price">
                  C${{ datos.precio2_plato_menu|default:"14.95" }}
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                {% if datos.imagen3_plato_menu%}
                <a href="{{ datos.imagen3_plato_menu }}" class="glightbox"><img src="{{ datos.imagen3_plato_menu }}" class="menu-img img-fluid" alt=""></a>
                {% else %}
                <a href="{% static 'empresas/yummy-red/assets/img/menu/menu-item-3.png' %}" class="glightbox"><img src="{% static 'empresas/yummy-red/assets/img/menu/menu-item-3.png' %}" class="menu-img img-fluid" alt=""></a>
                {% endif %}
                <h4>{{ datos.nombre3_plato_menu|default:"Est Eligendi" }}</h4>
                <p class="ingredients">
                  {{ datos.descriptcion3_plato_menu|default:"Lorem, deren, trataro, filede, nerada" }}
                </p>
                <p class="price">
                  C${{ datos.precio3_plato_menu|default:"8.95" }}
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                {% if datos.imagen4_plato_menu %}
                <a href="{{ datos.imagen4_plato_menu }}" class="glightbox"><img src="{{ datos.imagen4_plato_menu }}"" class="menu-img img-fluid" alt=""></a>
                {% else %}
                <a href="{% static 'empresas/yummy-red/assets/img/menu/menu-item-4.png' %}" class="glightbox"><img src="{% static 'empresas/yummy-red/assets/img/menu/menu-item-4.png' %}" class="menu-img img-fluid" alt=""></a>
                {% endif %}
                <h4>{{ datos.nombre4_plato_menu|default:"Eos Luibusdam" }}</h4>
                <p class="ingredients">
                  {{ datos.descriptcion4_plato_menu|default:"Lorem, deren, trataro, filede, nerada" }}
                </p>
                <p class="price">
                  C${{ datos.precio4_plato_menu|default:"12.95" }}
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                {% if datos.imagen5_plato_menu %}
                <a href="{{ datos.imagen5_plato_menu }}"" class="glightbox"><img src="{{ datos.imagen5_plato_menu }}"" class="menu-img img-fluid" alt=""></a>
                {% else %}
                <a href="{% static 'empresas/yummy-red/assets/img/menu/menu-item-5.png' %}" class="glightbox"><img src="{% static 'empresas/yummy-red/assets/img/menu/menu-item-5.png' %}" class="menu-img img-fluid" alt=""></a>
                {% endif %}
                <h4>{{ datos.nombre5_plato_menu|default:"Eos Luibusdam" }}</h4>
                <p class="ingredients">
                  {{ datos.descriptcion5_plato_menu|default:"Lorem, deren, trataro, filede, nerada" }}
                </p>
                <p class="price">
                  C${{ datos.precio5_plato_menu|default:"12.95" }}
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                {% if datos.imagen6_plato_menu %}
                <a href="{{ datos.imagen6_plato_menu }}" class="glightbox"><img src="{{ datos.imagen6_plato_menu }}"" class="menu-img img-fluid" alt=""></a>
                {% else %}
                <a href="{% static 'empresas/yummy-red/assets/img/menu/menu-item-6.png' %}" class="glightbox"><img src="{% static 'empresas/yummy-red/assets/img/menu/menu-item-6.png' %}" class="menu-img img-fluid" alt=""></a>
                {% endif %}
                <h4>{{ datos.nombre6_plato_menu|default:"Laboriosam Direva" }}</h4>
                <p class="ingredients">
                  {{ datos.descriptcion6_plato_menu|default:"Lorem, deren, trataro, filede, nerada" }}
                </p>
                <p class="price">
                  C${{ datos.precio6_plato_menu|default:"9.95" }}
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->
        </div>

      </div>

    </section><!-- /Menu Section -->
    {% endif %}


    {% if datos.comentarios_activo %}
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>COMENTARIOS</h2>
        <p>QUÉ DICE LA GENTE <span class="description-title">SOBRE NOSOTROS</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>

          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">parrafo1_comentario
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>{{ datos.parrafo1_comentario|default:"Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.Maecenaliquam, risus at semper' }} .</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>{{ datos.nombre1_comentario|default:"Saul Goodman' }}</h3>
                    
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    {% if datos.%}
                    <img src="{{ datos.imagen1_comentario }}" class="img-fluid testimonial-img" alt="">
                    {% else %}
                    <img src="{% static 'empresas/yummy-red/assets/img/testimonials/testimonials-1.jpg' %}" class="img-fluid testimonial-img" alt="">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>{{ datos.parrafo1_comentario|default:"Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa' }}.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>{{ datos.nombre2_comentario|default:"Sara Wilsson' }}</h3>
                      
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    {% if datos.%}
                    <img src="{{ datos.imagen2_comentario }}" class="img-fluid testimonial-img" alt="">
                    {% else %}
                    <img src="{% static 'empresas/yummy-red/assets/img/testimonials/testimonials-2.jpg' %}" class="img-fluid testimonial-img" alt="">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>{{ datos.parrafo1_comentario|default:"Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim' }}.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>{{ datos.nombre3_comentario|default:"Jena Karlis' }}</h3>
                      
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    {% if datos.%}
                    <img src="{{ datos.imagen3_comentario }}" class="img-fluid testimonial-img" alt="">
                    {% else %}
                    <img src="{% static 'empresas/yummy-red/assets/img/testimonials/testimonials-3.jpg' %}" class="img-fluid testimonial-img" alt="">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->
            
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->
    {% endif %}

    {% if datos.eventos_activo %}

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({{ datos.imagen_servicio1.url|default:static('empresas/yummy-red/assets/img/events-1.jpg') }})">
              <h3>{{ datos.nombre_servicio1|default:"Custom Parties" }}</h3>
              <!--<div class="price align-self-start">$99</div>-->
              <p class="description">
                  {{ datos.parrafo_servicios1|default:"Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas" }}.
              </p>
          </div><!-- End Event item -->

          <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({{ datos.imagen_servicio2.url|default:static('empresas/yummy-red/assets/img/events-2.jpg') }})">
              <h3>{{ datos.nombre_servicio2|default:"Private Parties" }}</h3>
              <!--<div class="price align-self-start">$99</div>-->
              <p class="description">
                  {{ datos.parrafo_servicios2|default:"In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur" }}.
              </p>
          </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({{ datos.imagen_servicio3.url|default:static('empresas/yummy-red/assets/img/events-3.jpg') }})">
                <h3>{{ datos.nombre_servicio3|default:"Birthday Parties" }}</h3>
                <!--<div class="price align-self-start">$99</div>-->
                <p class="description">
                    {{ datos.parrafo_servicios3|default:"Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis" }}.
                </p>
            </div>
            <!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url({{ datos.imagen_servicio1.url|default:static('empresas/yummy-red/assets/img/events-4.jpg') }})">
              <h3>{{ datos.nombre_servicio4|default:"Wedding Parties" }}</h3>
              <!--<div class="price align-self-start">$99</div>-->
              <p class="description">
                  {{ datos.parrafo_servicios4|default:"Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis" }}.
              </p>
          </div><!-- End Event item -->
          <!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->
    {% endif %}

    {% if datos.chefs_activo %}

    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>chefs</h2>
        <p><span>Nuestra chefs</span> <span class="description-title">Profesionales<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ datos.imagen_chef1.url|default:static('empresas/yummy-red/assets/img/chefs/chefs-1.jpg') }}" class="img-fluid" alt="Chef">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ datos.nombre_chef1|default:"Walter White' }}</h4>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ datos.imagen_chef2.url|default:static('empresas/yummy-red/assets/img/chefs/chefs-1.jpg') }}" class="img-fluid" alt="Chef">

                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ datos.nombre_chef2|default:"Sarah Jhonson' }}</h4>
              </div>s
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ datos.imagen_chef3.url|default:static('empresas/yummy-red/assets/img/chefs/chefs-1.jpg') }}" class="img-fluid" alt="Chef">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ datos.nombre_chef3|default:"William Anderson' }}</h4>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->
    {% endif %}

    {% if datos.reservar_activo %}
    <!-- Book A Table Section -->
    <section id="book-a-table" class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Reservar una mesa</h2>
        <p><span>Encuentra Un lugar </span> <span class="description-title"> con nosotros<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" style="background-image: url({{ datos.imagen_portada_reserva.url|default:static('empresas/yummy-red/assets/img/reservation.jpg') }});"></div>
     

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu email" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="teléfono" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" name="date" class="form-control" id="date" placeholder="Date" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Time" required="">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# de personas" required="">
                </div>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              </div>

              <div class="text-center mt-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu Solicitusd fue enviada. Nosotros te llamaremos o enviarémos un correo para confirmar tu reservación. Muchas Gracias!</div>
                <button type="submit">Reserva tu mesa</button>
              </div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>

    </section><!-- /Book A Table Section -->
    {% endif %}

    {% if datos.galeria_activo %}
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Galería</h2>
        <p><span>Mira</span> <span class="description-title">Nuestra galería</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen1_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery1.jpg') }}">
                    <img src="{{ datos.imagen1_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery1.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 1">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen2_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery2.jpg') }}">
                    <img src="{{ datos.imagen2_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery2.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 2">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen3_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery3.jpg') }}">
                    <img src="{{ datos.imagen3_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery3.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 3">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen4_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery4.jpg') }}">
                    <img src="{{ datos.imagen4_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery4.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 4">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen5_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery5.jpg') }}">
                    <img src="{{ datos.imagen5_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery5.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 5">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen6_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery6.jpg') }}">
                    <img src="{{ datos.imagen6_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery6.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 6">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen7_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery7.jpg') }}">
                    <img src="{{ datos.imagen7_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery7.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 7">
                </a>
            </div>
            <div class="swiper-slide">
                <a class="glightbox" data-gallery="images-gallery" 
                   href="{{ datos.imagen8_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery8.jpg') }}">
                    <img src="{{ datos.imagen8_galeria.url|default:static('empresas/yummy-red/assets/img/default-gallery8.jpg') }}" 
                         class="img-fluid form-control form-control-lg border-success" alt="Galería 8">
                </a>
            </div>
        </div>
        
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    {% endif %}

    {% if datos.contactar_activo %}
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <p><span>Necesitas Ayuda?</span> <span class="description-title">Contáctanos</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
          <iframe style="width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Dirección</h3>
                <p>{{ datos.direccion }}</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Llámanos</h3>
                <p>{{ datos.telefono }}</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Correo Electrónico</h3>
                <p>{{ datos.email }}</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Horario<br></h3>
                <p><strong>Lun-Sab:</strong> 11AM - 23PM; <strong>Domingo:</strong> Cerrado</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Escriba su Nombre" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Escriba un Correo" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Descripción" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">Su mensaje fue enviado. Gracias!</div>

              <button type="submit">Envir Mensaje</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

    {% endif %}
  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div class="address">
            <h4>Dirección</h4>
            <p>{{ datos.direccion }}</p>
            <p></p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contacto</h4>
            <p>
              <strong>Teléfono:</strong>
              <span>
                  {{ datos.telefono|default:"Número no disponible" }}
              </span><br>

              <strong>Correo:</strong>
              <span>
                  {{ datos.correo|default:"yuyu@gmail.com" }}
              </span><br>

            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Horario</h4>
            <p>
              <strong>Lun-Sab:</strong> <span>{{ datos.horario|default:"11AM - 23PM" }}</span><br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <h4>Siguenos</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Mundonica</strong> <span>Todos los derechos reservados</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Rediseñado por <a href="https://www.olvinduarte.com/">Olvin Duarte</a> Colaborador de <a href="https://www.euskodev.eus/es/">Euskodev</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
 
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

  <script src="{% static 'empresas/yummy-red/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'empresas/yummy-red/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'empresas/yummy-red/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'empresas/yummy-red/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'empresas/yummy-red/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'empresas/yummy-red/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'empresas/yummy-red/assets/js/main.js' %}"></script>

<!--esto es el javascript para los popUp de los menus de regalo-->
<script>
  function llenarModal(titulo, contenido) {
  document.getElementById('modalTitulo').innerText = titulo;
  document.getElementById('modalContenido').innerHTML = contenido;
}
</script>
<!--esta es una prueba de apatrecer un mensaje al cargar la web que diga quien creo la web-->
<script>
  // Animación con GSAP
  const mensaje = document.getElementById('mensaje');

  // Efecto de entrada
  gsap.fromTo(
    mensaje,
    { opacity: 0, scale: 0.8 }, // Inicio: transparente y reducido
    {
      opacity: 1,
      scale: 1, // Aparece con tamaño normal
      duration: 1, // Duración de la animación de entrada
      ease: "power2.out", // Suavizado
    }
  );

  // Mantener visible por 5 segundos, luego desaparecer
  setTimeout(() => {
    gsap.to(mensaje, {
      opacity: 0, // Desaparece gradualmente
      scale: 0.8, // Reduce ligeramente su tamaño
      duration: 1, // Duración de la salida
      ease: "power2.in", // Suavizado
      onComplete: () => (mensaje.style.display = 'none'), // Ocultarlo completamente
    });
  }, 5000);
</script>

</body>

</html>