{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billetes de Nicaragua</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
body {
    background-color: #000000; /* Fondo negro para la página */
    color: #ffffff; /* Texto en blanco para mejor contraste */
    font-family: Arial, sans-serif;
}

.filter-buttons button {
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px; /* Aumenta el tamaño del botón */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    background: linear-gradient(90deg, #007bff, #00d4ff); /* Gradiente de azul */
    color: #ffffff; /* Texto en blanco */
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

.filter-buttons button:hover {
    transform: scale(1.1); /* Botón crece ligeramente al pasar el mouse */
    background: linear-gradient(90deg, #0056b3, #009fda); /* Gradiente más oscuro */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.filter-buttons button:active {
    transform: scale(0.95); /* Botón se presiona hacia adentro */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
}


.image-item {
    background: #1c1c1c; /* Fondo oscuro para las tarjetas */
    color: #ffffff; /* Texto en blanco */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Sombra más sutil en fondo negro */
    margin: 0 15px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-item:hover {
    transform: scale(1.05); /* Tarjeta crece ligeramente */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); /* Sombra más brillante */
}

.image-item img {
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    transition: transform 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.1);
}

.details p {
    margin: 5px 0;
    color: #e0e0e0; /* Texto gris claro */
}

.details p strong {
    color: #ffffff; /* Texto destacado en blanco */
}

@media (max-width: 576px) {
    .image-item {
        margin: 0 5px 20px;
    }
}



    </style>
</head>
<body>

    <div class="container py-4">
        <!-- Filtros -->
        <div class="filter-buttons text-center mb-4">
            <button class="btn btn-primary" onclick="filterByYear('2009')">Serie 2009</button>
            <button class="btn btn-primary" onclick="filterByYear('2011')">Serie 2011</button>
            <button class="btn btn-primary" onclick="filterByYear('2015')">Serie 2015</button>
            <button class="btn btn-primary" onclick="filterByYear('2016')">Serie 2016</button>
            <button class="btn btn-primary" onclick="filterByYear('2019')">Serie 2019</button>
            <button class="btn btn-primary" onclick="filterByYear('2020')">Serie 2020</button>
            <button class="btn btn-secondary" onclick="filterByYear('all')">Mostrar Todos</button>
        </div>

        <div class="image-gallery" style="margin: auto;">

            <!-- Serie 2009 -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2009">
                <img src="{% static 'assets/img/billetes/billete_de_deiz_2009.png' %}" alt="Billete de 10 Córdobas (2009)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 10 Córdobas</p>
                    <p><strong>Valor:</strong> 10 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Monumento Nacional</p>
                    <p><strong>Año de emisión:</strong> 2009</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2009">
                <img src="{% static 'assets/img/billetes/billete_de_veinte_2009.png' %}" alt="Billete de 20 Córdobas (2009)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 20 Córdobas</p>
                    <p><strong>Valor:</strong> 20 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Iglesia Morava, Laguna de Perlas</p>
                    <p><strong>Año de emisión:</strong> 2009</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2009">
                <img src="{% static 'assets/img/billetes/billete_de_cincuenta_2009.png' %}" alt="Billete de 50 Córdobas (2009)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 50 Córdobas</p>
                    <p><strong>Valor:</strong> 50 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Teatro Nacional Rubén Darío</p>
                    <p><strong>Año de emisión:</strong> 2009</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2009">
                <img src="{% static 'assets/img/billetes/billete_de_cien_2009.png' %}" alt="Billete de 100 Córdobas (2009)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 100 Córdobas</p>
                    <p><strong>Valor:</strong> 100 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Rubén Darío</p>
                    <p><strong>Año de emisión:</strong> 2009</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2009">
                <img src="{% static 'assets/img/billetes/billete_docientos_2009.png' %}" alt="Billete de 200 Córdobas (2009)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 200 Córdobas</p>
                    <p><strong>Valor:</strong> 200 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Mariposa Nacional</p>
                    <p><strong>Año de emisión:</strong> 2009</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2009">
                <img src="{% static 'assets/img/billetes/billete_quinientos_2009.png' %}" alt="Billete de 500 Córdobas (2009)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 500 Córdobas</p>
                    <p><strong>Valor:</strong> 500 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Catedral de León</p>
                    <p><strong>Año de emisión:</strong> 2009</p>
                </div>
            </div>
        </div>
            <!-- Serie 2011 --> 
             <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2011">
                <img src="{% static 'assets/img/billetes/billete_de_deiz_2009.png' %}" alt="Billete de 10 Córdobas (2011)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 10 Córdobas</p>
                    <p><strong>Valor:</strong> 10 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Laguna de Masaya</p>
                    <p><strong>Año de emisión:</strong> 2011</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2011">
                <img src="{% static 'assets/img/billetes/billete_de_veinte_2009.png' %}" alt="Billete de 20 Córdobas (2011)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 20 Córdobas</p>
                    <p><strong>Valor:</strong> 20 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> La Diosa del Maíz</p>
                    <p><strong>Año de emisión:</strong> 2011</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2011">
                <img src="{% static 'assets/img/billetes/billete_de_cien_2009.png' %}" alt="Billete de 100 Córdobas (2011)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 100 Córdobas</p>
                    <p><strong>Valor:</strong> 100 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Fortaleza El Castillo</p>
                    <p><strong>Año de emisión:</strong> 2011</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2011">
                <img src="{% static 'assets/img/billetes/billete_docientos_2009.png' %}" alt="Billete de 200 Córdobas (2011)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 200 Córdobas</p>
                    <p><strong>Valor:</strong> 200 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Reserva Biológica Indio Maíz</p>
                    <p><strong>Año de emisión:</strong> 2011</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2011">
                <img src="{% static 'assets/img/billetes/billete_quinientos_2009.png' %}" alt="Billete de 500 Córdobas (2011)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 500 Córdobas</p>
                    <p><strong>Valor:</strong> 500 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Catedral de Granada</p>
                    <p><strong>Año de emisión:</strong> 2011</p>
                </div>
            </div>
             </div>

           <!-- Serie 2015 -->
           <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_diez_2015.png' %}" alt="Billete de 10 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 10 Córdobas</p>
                    <p><strong>Valor:</strong> 10 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Puerto Salvador Allende, Managua</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_veinte_2015.png' %}" alt="Billete de 20 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 20 Córdobas</p>
                    <p><strong>Valor:</strong> 20 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Iglesia Morava, Laguna de Perlas</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_cincuenta_2015.png' %}" alt="Billete de 50 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 50 Córdobas</p>
                    <p><strong>Valor:</strong> 50 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Mercado de Artesanías de Masaya</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_cien_2015.png' %}" alt="Billete de 100 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 100 Córdobas</p>
                    <p><strong>Valor:</strong> 100 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Catedral de Granada</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_docientos_2015.png' %}" alt="Billete de 200 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 200 Córdobas</p>
                    <p><strong>Valor:</strong> 200 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Teatro Nacional Rubén Darío</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_quinientos_2015.png' %}" alt="Billete de 500 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 500 Córdobas</p>
                    <p><strong>Valor:</strong> 500 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Catedral de León</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2015">
                <img src="{% static 'assets/img/billetes/billete_de_mil_2015.png' %}" alt="Billete de 1000 Córdobas (2015)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 1000 Córdobas</p>
                    <p><strong>Valor:</strong> 1000 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Hacienda San Jacinto</p>
                    <p><strong>Año de emisión:</strong> 2015</p>
                </div>
            </div>
           </div>
            <!-- Agrega más billetes aquí -->

            <!-- Serie 2016 -->
            <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2016">
                <img src="{% static 'assets/img/billetes/billete_de_mil_2016.png' %}" alt="Billete de 1000 Córdobas (2016)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 1000 Córdobas</p>
                    <p><strong>Valor:</strong> 1000 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Monumento de Rubén Darío</p>
                    <p><strong>Año de emisión:</strong> 2016</p>
                </div>
            </div>
            </div>
            <!-- Serie 2019 -->
            <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2019">
                <img src="{% static 'assets/img/billetes/billete_de_quinientos_2019.png' %}" alt="Billete de 500 Córdobas (2019)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 500 Córdobas</p>
                    <p><strong>Valor:</strong> 500 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Monumento a la Revolución, Managua</p>
                    <p><strong>Año de emisión:</strong> 2019</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2019">
                <img src="{% static 'assets/img/billetes/billete_de_mil_2019.png' %}" alt="Billete de 1000 Córdobas (2019)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 1000 Córdobas</p>
                    <p><strong>Valor:</strong> 1000 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Volcán Momotombo</p>
                    <p><strong>Año de emisión:</strong> 2019</p>
                </div>
            </div>
            </div>
            <!-- Serie 2020 -->
            <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-item" data-year="2020">
                <img src="{% static 'assets/img/billetes/billete_de_cinco_2020.png' %}" alt="Billete de 5 Córdobas (2020)" class="img-fluid rounded">
                <div class="details mt-3">
                    <p><strong>Nombre del billete:</strong> 5 Córdobas</p>
                    <p><strong>Valor:</strong> 5 C$</p>
                    <p><strong>Personaje/Cultura representada:</strong> Estadio Nacional de Béisbol Denis Martínez</p>
                    <p><strong>Año de emisión:</strong> 2020</p>
                </div>
            </div>
            </div>
        </div>
    </div>

  <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function filterByYear(year) {
            const items = document.querySelectorAll('.image-item');
            items.forEach(item => {
                if (year === 'all' || item.getAttribute('data-year') === year) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
