
{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" 
integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<style>


h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(248, 248, 248);
    text-shadow: 1px 3px 1px black;
}
</style>
{% endblock %}

{% block content %}


    <main>
        <section class="py-5 text-center container-fluid" style="color: #ffffff; background: linear-gradient(130deg, #007bff, #00c6ff);">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto mt-4 mb-3">
                    <h1 class="fw-light">Recetas de Nicaragua.</h1>
                    <p style="font-size: 25px;color: rgb(248, 248, 248); text-shadow: 1px 3px 1px black;">
                        Donde la tradición y el sabor se encuentran.
                    </p>
                </div>
            </div>
        </section>
        
        
      <div class="container">
        <a href="#" class="btn btn-primary my-2">Platos</a>
        <a href="#" class="btn btn-success my-2">Bebidas</a>
        <a href="#" class="btn btn-danger my-2">Postres</a>
      </div>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row">
              <div class="col col-lg-4 col-md-6 col-sm-12">
                {% for dato in datos %}
                <div class="card shadow-sm">
                 <img style="height: 200px;" src="{{ dato.imagen.url }}" alt="">
                  <div class="card-body">
                    <h4>{{ dato.titulo|safe }}</h4>
                    <p class="card-text">{{ dato.resumen|safe }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                      </div>
                      <small class="text-body-secondary">{{ dato.fecha_hora|date:"d/m/Y" }} </small>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      
      </main>

      {% endblock %}